.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.editorconfig
.eslintrc.json
webpack.config.js
tsconfig.json
vitest.config.mts
CONTRIBUTING.md
assets/icon.svg
pnpm-lock.yaml
pnpm-workspace.yaml
**/*.map
**/*.ts
node_modules/**
